
.wrapper {
    display: flex;
}
h1 {
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 44, 242);
}
h4 {
    font-family: "Poller One", serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: goldenrod;
   

}
.tituloNav{
  margin-top: auto;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: goldenrod
}
.imagenNav{
    width: 80px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
.dropdown{
    margin-top: 20px;
    margin-right: 50px;    
    background-color: goldenrod;
    font-family: "Poller One", serif;
    border: 2px white solid;
    border-radius: 10px;
    font-style: normal;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: goldenrod    
}
.tituloIndividual {
    text-align: start;
    margin-left: 100px;
    margin-top: 80px;
}
.tituloIndividualNave {
    text-align: start;
    margin-left: 100px;
    margin-top: 80px;
}
.tituloIndividualPlaneta {
    text-align: start;
    margin-left: 100px;
    margin-top: 80px;
}
.imagenIndividual {
    border: solid goldenrod 2px;
    width: 270px;
    height: 270px;
    box-shadow: 0px 0px 15px white;
}
.imagenIndividualNave {
    border: solid goldenrod 2px;
    width: 270px;
    height: 270px;
    box-shadow: 0px 0px 15px white;
}
.imagenIndividualPlaneta {
    border: solid goldenrod 2px;
    width: 270px;
    height: 270px;
    box-shadow: 0px 0px 15px white;
}
.descripcionIndividual {
    text-align: center;
    color: goldenrod;
    margin-top: 115px;
    margin-left: 50px;
}
.descripcionIndividualNave {
    text-align: center;
    color: goldenrod;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 25px;
}
.descripcionIndividualPlaneta {
    text-align: center;
    color: goldenrod;
    margin-top: 90px;
    margin-left: 50px;
}
.urlIndividual {
    text-align: center;
    color: goldenrod;
    margin-top: 105px;
    margin-left: 70px;
}
.urlIndividualPlaneta {
    text-align: center;
    color: goldenrod;
    margin-top: 105px;
    margin-left: 70px;
}
.urlIndividualNave {
    text-align: center;
    color: goldenrod;
    margin-top: 105px;
    margin-left: 70px;
}
.dropdown-menu{    
    background-color: rgb(24, 24, 52);
    text-align: center;
    color:goldenrod;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card{
    border: 2px solid goldenrod;
    font-family: "Poller One", serif;   
    border-radius: 10px;
    font-style: larger;   
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: goldenrod;
    background-color: black;     
}
.card-img-top{
    padding: 10px;
    border-radius: 10px;
    border: solid 2px goldenrod;
    width: 280px;
    height: 280px;
}
.corazon{
    margin: auto;
   
}
.botonCorazon{
    background-color: black;
   
}
.heart-container {
    --heart-color: rgb(222, 255, 91);
    position: relative;
    width: 23px;
    height: 23px;
    transition: .3s;
  }
  
  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart-container .svg-outline,
          .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }
  
  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }
